networkx==3.2.1
tqdm
torch_cluster==1.6.3
torch==2.1.0
torch_geometric==2.5.3
imblearn==0.0
lxml==5.2.2
catboost==1.2.5
shap==0.44.1
joblib==1.2.0
torch==2.1.0
fuzzywuzzy==0.18.0
umap-learn
lightgbm==4.3.0
optuna==2.4.0
transformers==4.40.0
xgboost==1.4.2
scipy
numpy